<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
<div style="margin-top: 100px;background-color: lightgray;margin-right: -15px;margin-left: 0px;margin-bottom: -20px;">
    <div class="container">
<footer>
<center>
        <div class="copyrights" style="margin-top:30px;">
            <p>&copy;2017, ShareWithCode
                <br>
                <span>Design by: Ajeet Singh</span><br>
				
            <b><a href="https://www.linkedin.com/in/ajeet-singh-kushwaha-aa399a92" target="_blank">Linkedin 
			<i class="fa fa-linkedin-square fa-1x" aria-hidden="true"></i></a></b></p>
			
        </div>
		</center>
</footer>
</div></div>
</body>
</html>